.page__reachout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .page__reachout-title{
        font-size: 2rem;
        .page__reachout-title--secondary{
            color: #DD6011;
        }
    }
    .page__reachout-subtitle{
        line-height: 1.7;
    }
    .reachout-form{
        // border: 1px dashed red;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .form-p2{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            input{
                width: 100%;
                font-size: 14px;
                padding: 0.5rem;
                color: #ffffff;
                background-color: rgba(46, 50, 61, 0.4);
                border: 1px solid rgba(46, 50, 61, 0.4);
                opacity: 1;
                &:focus {
                    border-color: #DD6011;
                    outline: none;
                }
            }
            textarea{
                width: 100%;
                height: 200px;
                width: 100%;
                font-size: 14px;
                padding: 0.5rem;
                color: #ffffff;
                background-color: rgba(46, 50, 61, 0.4);
                border: 1px solid rgba(46, 50, 61, 0.4);
                resize: vertical;
                
                &:focus {
                    border-color: #DD6011;
                    outline: none;
                }
            }
        }
    }
}