
// .resource-container{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     gap: 36px; 

//     .redirection-menu-item{
//         // padding: 4px 0;
//         cursor: pointer;
//         display: flex;
//         justify-content: center;
//         img{
//             display: block;
//             width: 20px;
//         }
//         p{
//             display: none;
//         }
//     }
// }



// @media(min-width: 800px){
//     .resource-container{
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         gap: 36px; 

//         .redirection-menu-item{
//             // padding: 4px 0;
//             cursor: pointer;
//             display: flex;
//             justify-content: center;
//             img{
//                 display: none;
//                 // width: 20px;
//             }
//             p{
//                 display: block;
//             }
//         }
//     }
// }

