.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 350px;
    margin: auto;
    // border: 1px dashed red;
    div, p, h3{
        text-align: center;
        // border: 1px dashed red;
    }
    h3{
        font-size: 26px;
        line-height: 36px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        // color: rgb(157, 159, 158);
    }
    .profile-img-container{
        // background-image: url("../../assets/profile-img.png");
        // background-position: center;
        // background-size: contain;
        // background-repeat: no-repeat;
        // border-radius: 0%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .profile-img{
            width: 240px;
            // border-radius: 8px;
            border: 3px solid #ffffff;
        }
        .circle{
            // border-radius: 8px;
            // border: 4px solid #ffffff;
        }
    }
}