.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    max-width: 325px;
    div, p, h3{
        text-align: center;
    }
    .intro-name{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .intro-text{
        margin: 1rem 0;
        font-size: 14px;
        line-height: 1.8;
        color: rgb(157, 159, 158);
    }
    .intro-reachout_btn-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;
        .intro-text_reachout{
            // text-align: left;
        }

        .intro-reachout_btn{
            cursor: pointer;
        }
    }
    .profile-img-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .profile-img{
            width: 240px;
            border: 3px solid #ffffff;
        }
        .circle{
            // border-radius: 8px;
            // border: 4px solid #ffffff;
        }
    }
}