.page__experience{
   .page__about-title{
        font-size: 2rem;
    }
    .page__about-title--primary{
        color: #ffffff;
    }
    .page__about-title--secondary{
        color: #DD6011;
    }
}    